spring:
  application:
    name: remote-user-fetcher

  datasource:
    url: jdbc:h2:mem:demo;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

  logging:
    level:
      org.springframework.web: INFO
      com.example: DEBUG

